.experiencia {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  padding: 40px 20px;
  margin: 0 auto;
}
.experiencia .subtitulo {
  color: var(--text-0);
  max-width: 3ch;
}
.experiencia-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: var(--text-3);
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
}
.experiencia-texto strong {
  color: var(--text-1);
}
.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  background: var(--bg-1);
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;
}
.empresa::before {
  content: "";
  display: block;
  width: 4px;
  height: 30px;
  background: var(--bg-grad-1);
  position: absolute;
  top: 20px;
  left: -4px;
  gap: 10px 20px;
}
.empresa:hover::before {
  content: "";
  display: block;
  width: 60px;
  height: 30px;
  background: var(--bg-grad-1);
  position: absolute;
  top: 20px;
  left: -60px;
  transition: 0.5s;
  border-radius: 4px 4px 4px 4px;
}
.empresa-ano {
  position: absolute;
  top: 25px;
  left: -70px;
  text-align: center;
  width: 80px;
  color: var(--text-4);
  font-size: 1rem;
  font-weight: 400;
}
.empresa-titulo {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 600;
  margin-bottom: 12PX;
}
.empresa-texto {
  font-size: 0.875rem;
  line-height: 1.4;
  color: var(--text-3);
  max-width: 32ch;
}
.empresa-habilidade {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}
.empresa-habilidade li {
  font-size: 0.875rem;
  line-height: 1.4;
  border-radius: 4px;
  background: var(--bg-2);
  padding: 5px 10px;
}
@media (max-width: 1000px) {
  .empresa-texto {
    max-width: 28ch;
  }
}
@media (max-width: 900px) {
  .empresa-texto {
    max-width: 24ch;
  }
}
@media (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .experiencia .subtitulo {
    color: var(--text-2);
  }
  .experiencia-texto {
    font-size: 1.25rem;
    max-width: 48ch;
  }
  .empresa-texto {
    max-width: 36ch;
  }
  .empresa {
    gap: 10px;
  }
  .empresa-ano {
    position: initial;
    order: 1;
    width: initial;
    text-align: left;
    font-weight: 600;
  }
  .empresa-ano a {
    color: var(--text-11);
    text-decoration: none;
    background: var(--bg-2);
    padding: 5px 10px;
    border-radius: 4px;
  }
}
@media (max-width: 700px) {
  .empresa-texto {
    max-width: 32ch;
  }
}

@media (max-width: 400px) {
  .empresa {
    grid-template-columns: 1fr;
  }
  .empresa-texto {
    max-width: 36ch;
  }
  
}
.link-site {
 color: var(--text-4); 
 text-decoration: none;
}