.footer {
  background: var(--bg-3);
  color: var(--text-5);
}
.footer-container {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  justify-items: flex-start;
  align-items: center;
}

.footer-texto {
  font-size: 1.2rem;
  line-height: 1.33;
  color: var(--text-6);
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
  max-width: 50CH;
}

.footer-contato {
  font-size: 1.5rem;
  line-height: 1.2;
  color: var(--text-4);
  margin-top: 64px;
  margin-bottom: 32px;
  display: grid;
  gap: 64px;
  position: relative;
}
.footer-contato h3,a {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 600;
}
.footer-contato li a {
  color: var(--text-4);
}
.linkedin a::before {
  display: block;
  content: "";
  width: 64px;
  height: 64px;
  position: absolute;
  left: -75px;
  top: 175px;
}
.linkedin a::before {
  background: url("/icons/icons8-linkedin.svg");
}
.phone h3::before {
  display: block;
  content: "";
  width: 60px;
  height: 60px;
  position: absolute;
  left: -75px;
  top: 85px;
}
.phone h3::before {
  background: url("/icons/icons8-whatsapp.svg");
}
.footer-copy {
  grid-column: 1/-1;
  font-size: 1.125rem;
  color: var(--text-7);
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
}

.email h3::before {
  display: block;
  content: "";
  width: 64px;
  height: 64px;
  position: absolute;
  left: -75px;
  top: -15px;
}
.email h3::before {
  background: url("/icons/icons8-email-aberto-64.png");
}
.gitHub a::before {
  display: block;
  content: "";
  max-width: 100%;
  width: 64px;
  height: 64px;
  position: absolute;
  left: -75px;
  top: 275px;
}
.gitHub a::before {
  background: url("/icons/icons8-github64.svg");
}
.discord a::before {
  display: block;
  content: "";
  max-width: 100%;
  width: 64px;
  height: 64px;
  position: absolute;
  left: -75px;
  top: 375px;
}
.discord a::before {
  background: url("/icons/icons8-logo-discord64.svg");
}
@media (max-width: 1000px) {
  .footer-container {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 100px;
  }
}
@media (max-width: 1500px) {
  .footer-container {
    display: grid;
    grid-template-columns: 1fr;
   justify-items: center;
  }
}

@media (max-width: 750px) {
  .footer-contato li {
    font-size: 1rem;
  }
  .footer-texto {
    font-size: 2rem;
    line-height: 1.1;
  }
  .footer-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .email h3::before {
    margin-top: -10px; 
  }
  .phone h3::before {
    margin-top: -15px;
  }
  .linkedin a::before {
    margin-top: -20px;
  }
  .gitHub a::before {
    margin-top: -35px;
  }
  .discord a::before {
    margin-top: -50px;
  }
}
@media (max-width: 550px) {
  .footer-contato li {
    font-size: 0.825rem;
  }
  .footer-texto {
    font-size: 1.5rem;
    line-height: 1;
  }
  .email h3::before {
    margin-top: -10px; 
  }
  .phone h3::before {
    margin-top: -25px;
  }
  .linkedin a::before {
    margin-top: -35px;
  }
  .gitHub a::before {
    margin-top: -50px;
  }
  .discord a::before {
    margin-top: -65px;
  }
  .footer-container {
    margin-left: 30px;
  }
}
@media (max-width: 460px) {
  .footer-contato li {
    font-size: 0.5rem;
    margin-top: -50px;
  }
  .footer-texto {
    font-size: 1.2rem;
    line-height: 1;
    margin-top: -50px;
  }
  .email h3::before {
    margin-top: -70px; 
  }
  .phone h3::before {
    margin-top: -100px;
  }
  .linkedin a::before {
    margin-top: -125px;
  }
  .gitHub a::before {
    margin-top: -160px;
  }
  .discord a::before {
    margin-top: -195px;
  }
}

.footer h2 {
  color: var(--text-9);
  padding-top: 80px;
  margin-left: 30px;
}
