.form-Cliente {
  display: grid;
  grid-template-columns: 1fr 300px;
  margin-top: 20px;
  margin-right: 60px;
}
.form-Cliente input {
  grid-row: 2;
  box-sizing: border-box;
  padding: 8px 10px;
  margin-top: 20px;
  font-size: 1rem;
  font-family: "IBM Plex Mono", monospace;
}
.form-Cliente label {
  font-family: "IBM Plex Mono", monospace;
  margin-top: 30px;
}
.form-Cliente textarea {
  max-width: 550px;
  min-width: 550px;
  max-height: 120px;
  min-height: 120px;
  grid-row: 4;
  margin-top: 10px;
  padding: 5px 10px;
  grid-column: 1 / 3;
  font-size: 1rem;
  font-family: "IBM Plex Mono", monospace;
}
.form-Cliente textarea::placeholder,
.form-Cliente input::placeholder {
  color: var(--text-2);
}
.email-input {
  margin-right: 10px;
}

.botao {
  margin-top: 30px;
  width: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
  grid-row: 5;
  color: var(--text-0);
  letter-spacing: 0.125rem;
  background: var(--bg-grad-1);
  cursor: pointer;
}
.botao:hover {
  background: var(--bg-grad-2);
  box-shadow: 0 0 0 2px #6635a7;
  box-shadow: 0 0 4px 4px #8555c4;
}
.botao a {
  text-decoration: none;
  color: var(--text-0);
}
.obrigado {
  margin-bottom: 80px;
}
.sucesso-container {
  padding-top: 50px !important;
}
@media (max-width: 1000px) {
  .obrigado {
    margin-top: 10px !important;
    margin-bottom: 30px;
    font-size: 1.2rem;
  }
}
@media (max-width: 760px) {
  .form-Cliente {
    display: flex;
    flex-direction: column;
  }
  .form-Cliente textarea {
    max-width: 320px;
    min-width: 320px;
    font-size: 1rem;
  }
  .form-Cliente input {
    max-width: 320px;
    min-width: 320px;
    font-size: 1rem;
  }
  .email-input {
    margin-right: 0px;
  }
}
@media (max-width: 380px) {
  .footer-texto {
    max-width: 20ch;
  }
  .obrigado {
    margin-top: 20px !important;
    margin-bottom: 20px;
  }
  .form-Cliente textarea {
    max-width: 250px;
    min-width: 250px;
    font-size: 0.8rem;
  }
  .form-Cliente input {
    max-width: 250px;
    min-width: 250px;
    font-size: 0.8rem;
  }
}
