:root {
  --shadow1: rgba(191, 191, 191, 0.796);
  --shadow2: rgba(0, 0, 0, 0.796);
  --shadow3: rgba(52, 35, 87, 0.727);
  --text-0: #e0e0e0;
  --text-1: #141414;
  --text-2: #00000050;
  --text-3: #525252;
  --text-4: #ffffff;
  --text-5: #efefef;
  --text-6: #eeeeee;
  --text-7: #8f8f8f;
  --text-8: #a3a3a3;
  --text-9: #2e2e2e;
  --text-10: #3f3f3f;
  --text-11: #ba66fa;
  --text-12: #463D52;
  --bg-1: #f5f5f5;
  --bg-2: #ffffff;
  --bg-3: #000000;
  --bg-4: #303030;
  --bg-5: #050107ee;
  --border-1: #800add;
  --border-2: ;
  --bg-grad-1: linear-gradient(#800add, #cc6df8);
  --bg-grad-2: linear-gradient(#cc6df8, #800add);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "fira", Arial, sans-serif;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto; 
}
h1,
h2,
h3,
p {
  margin: 0px;
}
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block; 
}

li a {
  text-decoration: none;
}
.subtitulo {
  font-size: 8rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
}
@media (max-width: 800px) {
  .subtitulo {
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial !important;
  }
}

