.logo img {
  max-width: 70%;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  border-bottom: 1px solid var(--text-6);
  font-size: 1.3rem;
}

.menu {
  display: flex;
  gap: 60px;
  padding-top: 69px;
}
.header:not(:first-child) {
  margin-left: 30px;
}
.exp:hover {
  border-bottom: 3px solid var(--border-1);
  border-radius: 3px;
  transition: 0.1s;
}
.exp {
  list-style: url(/icons/experiencia-menu.svg);
}
.form {
  list-style: url(/icons/formação-menu.svg);
}
.ctt {
  list-style: url(/icons/contato-menu.svg);
}

.form:hover {
  border-bottom: 3px solid var(--border-1);
  border-radius: 3px;
  transition: 0.1s;
}

.ctt:hover {
  border-bottom: 3px solid var(--border-1);
  border-radius: 3px;
  transition: 0.1s;
}

@media only screen and (max-width: 900px) {
  .navbar__toggle {
    width: 50px;
    height: 40px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .navbar__toggle.open > .bar--2 {
    opacity: 0;
  }
  .navbar__toggle.open > .bar--1 {
    transform: translateY(100%);
  }
  .navbar__toggle.open > .bar--3 {
    transform: translateY(-100%);
  }
  .bar {
    width: 100%;
    height: 7px;
    background-color: var(--border-1);
    border-radius: 5px;
    transition: opacity 0.1s, transform 0.3s;
  }
  .menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 70%;
    background-color: var(--bg-5);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    clip-path: circle(50px at -50px 100%);
    transition: clip-path 0.5s;
    z-index: 6;
  }
  .menu.open {
    clip-path: circle(2000px at -50px 100%);
  }
  .menu.open .exp {
    animation: animate-link 0.5s 0.3s ease-in-out backwards;
  }
  .menu.open .form {
    animation: animate-link 0.5s 0.5s ease-in-out backwards;
  }
  .menu.open .ctt {
    animation: animate-link 0.5s 0.7s ease-in-out backwards;
  }
  .navbar__toggle {
    margin-top: 45px;
  }

  .exp a,
  .form a,
  .ctt a {
    color: var(--text-4);
    font-size: 1.3rem;
  }
  @keyframes animate-link {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    50% {
      transform: translateX(20%);
      opacity: 0.5;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
}
@media only screen and (max-width: 760px) {
  .navbar__toggle {
    width: 50px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 500px) {
  .navbar__toggle {
    width: 40px;
    height: 40px;
    margin-right: -5px;
  }
}
