.perfil {
  
  max-width: 1400px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 80px 40px;
  margin: 0 auto;
  position: relative;
}
.img-perfil {
  margin-left: 40px;
  max-width: 80%;
  border-radius: 20% 2%;
  display: block;
  box-shadow: 2px 30px 25px 0px var(--shadow1);
}

.img-not {
  max-width: 100%;
  position: absolute;
  display: block;
  top: 80px;
  left: 660px;
}
@media (min-width: 1600px) {
  body {
    max-width: 1800px;
  }
  .perfil {
    max-width: 1600px;
    gap: 80px;
  }
  .img-not {
    top: 60px;
    left: 900px;
  }
}
@media (max-width: 1550px) {
  body {
    max-width: 1600px;
  }
  .perfil {
    max-width: 1400px;
    gap: 70px;
  }
  .img-not {
    top: 60px;
    left: 800px;
  }
}
@media (max-width: 1500px) {
  .img-not {
    left: 750px;
  }
  .perfil {
    gap: 60px;
  }
}
@media (max-width: 1300px) {
  .img-not {
    left: 650px;
  }
  .perfil {
    gap: 40px;
  }
}
@media (max-width: 1400px) {
  .img-not {
    display: none;
  }
  .perfil {
    justify-items: center;
    position: initial !important;
  }
  .img-perfil {
    max-width: 100%;
    margin-left: 120px;
  }
}
.text-1 {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 111%;
  color: var(--text1);
}
.text-2 {
  font-size: 1.2rem;
  color: var(--text2);
}

.text-perfil {
  display: grid;
  align-self: center;
}

@media (max-width: 760px) {
  .perfil {
    grid-template-columns: 1fr;
  }
  .img-perfil {
    max-width: 60%;
    margin: 0 auto;
  }
  .text-1 {
    font-size: 2.8rem;
  }
  .navbar__toggle {
    margin-top: 30px;
  }
  .logo img {
    max-width: 60%;
    display: block;
  }
  .perfil {
    gap: 2.6rem;
  }
  .text-perfil {
    display: grid;
    justify-self: center;
    align-self: center;
    gap: 0.5rem;
  }
}
.perfil img {
  height: 100%;
  object-fit: cover;
}
@media (max-width: 500px) {
  .logo img {
    max-width: 70%;
    display: block;
  }
  .navbar__toggle {
    margin-top: 40px;
  }
  .text-1 {
    font-size: 2.6rem;
  }
  .perfil {
    gap: 2rem;
  }
  .text-2 {
    font-size: 0.8rem;
  }
  .text-perfil {
    display: grid;
    justify-self: center;
    align-self: center;
    gap: 0.2rem;
  }
}
@media (max-width: 400px) {
  .logo img {
    max-width: 70%;
    display: block;
  }
  .text-1 {
    font-size: 2.3rem;
  }
  .text-2 {
    font-size: 0.6rem;
  }
  .text-perfil {
    display: grid;
    justify-self: center;
    align-self: center;
    gap: 0.1rem;
  }
}
@media (max-width: 370px) {
  .text-1 {
    font-size: 2rem;
  }
}
@media (max-width: 340px) {
  .text-1 {
    font-size: 1.5rem;
  }
}
.img-not {
  animation: fly-not 1.5s linear infinite alternate-reverse;
}
@keyframes fly-not {
  to {
    transform: translatex(30px);
  }
}